[submodule "vendor/src/github.com/fsouza/go-dockerclient"]
	path = vendor/src/github.com/fsouza/go-dockerclient
	url = https://github.com/fsouza/go-dockerclient
[submodule "vendor/src/github.com/BurntSushi/toml"]
	path = vendor/src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "vendor/src/github.com/gorilla/mux"]
	path = vendor/src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "lib/atlantis"]
	path = lib/atlantis
	url = https://github.com/ooyala/atlantis
[submodule "vendor/src/github.com/gorilla/context"]
	path = vendor/src/github.com/gorilla/context
	url = https://github.com/gorilla/context
[submodule "vendor/src/github.com/jigish/go-flags"]
	path = vendor/src/github.com/jigish/go-flags
	url = http://github.com/jigish/go-flags
